*{
    margin: 0; 
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
 }
 body{
 
     font-family: sans-serif;
 
 }
 body{
     background-image: url(vargas.jpg);
     background-position: center;
     background-attachment: fixed;
     background-size: cover;
     background-repeat: no-repeat;
 }
 .header p,
 .header h1{
     color: #fbfdfb;
     background-color: rgba(121, 126, 123, 0.5);
     border-radius: 20px;
     
 }
 .head{
     display: flex;
     align-items: center;
     justify-content: space-between;
     height: 80px;
     background: #171717;
     position: fixed;
     width: 100%;
     z-index: 100;
 }
 .navbar{
     display: flex;
     margin-right: 10px;
 }
 .imag{
     text-align: center;
     display: flex; 
 }
 .imag a{
     padding: 10px  20px;
     height: 200px;
 }
 
 .navbar a {
     display: block;
     padding: 23px  20px;
     color: #fff;
     text-decoration: none;
     text-transform: uppercase;
     font-size: 20px;
 
 }
 .hola {
     display: block;
     padding: 23px  20px;
     color: #fff;
     text-decoration: none;
     text-transform: uppercase;
     font-size: 20px;
     align-items: center;
 
 }
 .navbar a:hover{
     background: #3a3a3a;
 }
 
 .header{
     display: flex;
     justify-content: center;
     align-items: center;
 
 }
 
 .title{
     margin-bottom: 30px;
     font-size: 40px;
     font-weight: 600;
     color: #fff;
 }
 
 .tex{
     margin-top: -230px;
 }
 
 p{
     margin-bottom: 50px;
     font-size: 18px;
 }
 
 .btn{
     display: inline-block;
     margin-top: 15px;
     margin-inline-end: auto;
     padding: 10px  10px;
     border: 2px solid #139830;
     color: #fff;
     text-decoration: none;
     background: #020002;
 }
 .btn:hover{
     background: none;
     color: #fff;
 }
 .btn-home{
     display: flex;
 }
 
 .btn-home a{
     margin: 0 10px;
 
 }
 
 .content {
     height: 50vh;
     flex-direction: column;
     justify-content: right;
 
 }
 .content div{
     justify-content: right;
 }
 
 .sau{
     display: flex;
     border-radius: 20px;
     padding: 200px;
     justify-content: right;
 }
 .sau{
     display: flex;
     background-image: url(fondo1.jpg);
     background-size: 2000px;
     padding: 200px;
     background-repeat: no-repeat;
     background-position: center;
 
 }
 .redessociales{
     text-align: center;
     border-radius: 20px;
     background-image: url(fondo2.jpg);
     background-size: 2000px;
     padding: 200px;
     background-repeat: no-repeat;
     background-position: center;
 
 }
 .sau h1{
     padding: -100px 150px;
 }
 
 .redessociales{
     padding: 150px;
 }
 .redessociales h1{
     margin-top: -100px;
     text-align: center;
     padding: -100px 150px;
     color: black;
 }
 @media (max-width:768px){
     .title{
         margin-bottom: 0;
         font-size: 40px;
     }
     
     .sau{
         height: 110vh;
     }
 
     .navbar{
         display: none;
     }
 }